{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/login.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <p>Welcome to Moniteasy, The Easyiest Web Monitoring Application.</p>
    <p>To begin, <a href="{{ path('backend_check_create') }}">create your first check</a></p>
{% endblock %}