{% extends 'ApplicationBundle::back_end_layout.html.twig' %}

{% block body %}
    <p>Welcome to Moniteasy, The Easyiest Web Monitoring Application.</p>
    <p>To begin, <a href="{{ path('backend_check_create') }}">Create your first check</a></p>
{% endblock %}