{% extends 'ApplicationBundle::back_end_layout.html.twig' %}

{% block body %}
    <p>page gestion des alertes mails et personnalisation de celle ci</p>
    <p>creer une nouvelle alerte</p>
    <p>changer le rythme des alertes, blabla....</p>
{% endblock %}